@model List<Pet>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to Admin Dashboard</p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Foster Parent</th>
                <th>Species</th>
                <th>Breed</th>
                <th>Date of Birth</th>
                <th>Gender</th>
                <th>Weight (kg)</th>
                <th>Color</th>
                <th>Temperament</th>
                <th>Date Arrived</th>
                <th>Bio</th>
                <th>Status</th>
                <th>Adoption Fee</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pet in Model)
            {
                <tr>
                    <td>@pet.Details.Name</td>
                    <td>@(pet.FosterParent != null ? pet.FosterParent.FirstName + " " + pet.FosterParent.LastName : "Not fostered")</td>
                    <td>@pet.Details.Species</td>
                    <td>@pet.Details.Breed</td>
                    <td>@pet.Details.DateOfBirth?.ToString("yyyy-MM-dd")</td>
                    <td>@pet.Details.Gender</td>
                    <td>@pet.Details.Weight</td>
                    <td>@pet.Details.Color</td>
                    <td>@pet.Details.Temperament</td>
                    <td>@pet.Details.DateArrived?.ToString("yyyy-MM-dd")</td>
                    <td>@pet.Details.Bio</td>
                    <td>@pet.Status</td>
                    <td>@pet.Details.AdoptionFee?.ToString("C")</td>
                    <td>
                        <a href="@Url.Action("EditPet", "AdminDashboard", new { id = pet.Id })" class="btn btn-primary">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a href="@Url.Action("EditPet", "AdminDashboard", new { id = 0 })" class="btn btn-primary">New Pet</a>
    <a href="@Url.Action("DownloadReport","AdminDashboard")" class="btn btn-outline-dark">Download Pet Details</a>    
</div>
