@model List<AdoptionHub.Models.User>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to Admin Dashboard</p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Username</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>User Role</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Username</td>
                    <td>@user.FullName</td>
                    <td>@user.Email</td>
                    <td>@user.PhoneNumber</td>
                    <td>@user.Address</td>
                    <td>@user.UserRole</td>
                    <td>
                        <a href="@Url.Action("EditUser", "AdminDashboard", new { id = user.Id })" class="btn btn-primary">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <h2>Generate a New Signup Code</h2>

    <form id="signupCodeForm">
        <button type="button" onclick="generateCode()">Generate Signup Code</button>
    </form>

    <p id="codeResult"></p>

    
</div>

@section Scripts {
    <script>
        function generateCode() {
            fetch('/admindashboard/generatesignupcode', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('codeResult').innerText = 'Generated Code: ' + data.code;
                })
                .catch(error => console.error('Error:', error));
        }
    </script>
}