@* @model AdoptionHub.Models.PetSearchViewModel *@

@* <div class="pet-cards">
    @foreach (var pet in Model)
    {
        <div class="pet-card">
            <h2>@pet.Name</h2>
            <p>Species: @pet.Species</p>
            <p>Breed: @pet.Breed</p>
            <p>Size: @GetSizeFromWeight(pet.Weight)</p>
            <p>Age: @GetAgeFromDateOfBirth(pet.DateOfBirth)</p>
            <p>Gender: @pet.Gender</p>
        </div>
    }
</div> *@