@{
    ViewData["Title"] = "Foster Dashboard";
}

<div class="container mt-4">
    <div class="row mb-4">
        <a class="btn btn-outline-danger " href="@Url.Action("Index", "Home")">Go Back</a>
    </div>
    <div class="row">


        @foreach (var pet in Model)

        {
            <div class="col-auto m-2">
                <div class="hvr-grow card pet-card shadow-sm" style="width: 18rem;">
                    <img src="/images/exampleImg/dog@(new Random().Next(1, 8)).jpg"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">@pet.Name</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>

                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item">@pet.Gender</li>
                        <li class="list-group-item"> Age: @pet.Age</li>
                        <li class="list-group-item">@pet.Temperament</li>
                    </ul>
                    <div class="card-body d-flex justify-content-center">
                        <a href="@Url.Action("Details", "Home",new {id = pet.Id})" class="btn btn-outline-dark">View more details</a>
                    </div>
                </div>
            </div>
            
        }
    </div>
</div>