@model AdoptionHub.Models.Pet

<div class="container mt-4 ">
    <div class="row">
        <a class="btn btn-outline-danger" href='@Url.Action("Dashboard", "Home")'>Go Back</a>
    </div>


    @functions {
        private static readonly Random Random = new Random();
    }

    <div class=" container d-flex justify-content-center">
        <div class="card m-3 pet-card shadow-sm" style="width: 50rem;">
            <div class="row g-0">
                <div class="col-md-7">
                    <img src="/images/exampleImg/dog@(Random.Next(1, 8)).jpg" class="img-fluid" alt="...">
                </div>
                <div class="col-md-5">
                    <div class="card-body">
                        <h4 class="card-title">@Model.Details.Name </h4>
                        <div class="card-body">
                            <p class="card-text">Species = @Model.Details.Species</p>
                            <p class="card-text">Breed = @Model.Details.Breed</p>
                            <p class="card-text">Gender = @Model.Details.Gender</p>
                            <p class="card-text">Weight = @Model.Details.Weight</p>
                            <p class="card-text">Color = @Model.Details.Color</p>
                            <p class="card-text">Temperament = @Model.Details.Temperament</p>
                            <p class="card-text">Bio = @Model.Details.Bio</p>
                            <p class="card-text">AdoptionFee = @Model.Details.AdoptionFee</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>